body {
    background-color: white;
    color: white;
    margin: 0;
    position: relative;
}

.col {
    align-items: center;
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }

.container {
    padding: 0.01em 16px;
}

#loginrightnav {
    position:relative;
    justify-items: center;
    align-items: center;
}


.row {
    display: flex;
    flex-direction:column;
    gap: 7px;
    clear: both;
}

.svg-container {
    position: relative;
    width: 800px;  /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
}

.field {
    width: 200%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.square {
    width: 30%;  /* Adjust size */
    height: 100%;
    margin: 0%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 0 10px rgba(0,0,0,0.1);
    z-index: 2;
}

#loginrightnav {
    width: 30%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#my-signin2 {
    margin-top: 15px;
}

